<div class="hero is-medium">
	<div class="hero-body">
		<h1 class="title has-text-centered">budget(ish)</h1>
		<h3 class="subtitle has-text-centered">Create an Account</h3>

		<div class="container" style="max-width: 350px">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
			  <%= f.label :email, class: 'label' %>
			  <%= f.email_field :email, class: 'input', autofocus: true %>
			</div>

			<div class="field">
			  <%= f.label :password, class: 'label' %>
			  <%= f.password_field :password, class: 'input', autocomplete: "off" %>
			  <% if @minimum_password_length %>
			  	<p class="help"><%= @minimum_password_length %> characters minimum</p>
			  <% end %>
			</div>

			<div class="field">
			  <%= f.label :password_confirmation, class: 'label' %>
			  <%= f.password_field :password_confirmation, class: 'input', autocomplete: "off" %>
			</div>

			<div class="actions">
			  <%= f.submit "Create Account", class: 'button is-primary is-fullwidth', style: 'margin-bottom: 12px'%>
			</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>