<div class='nested-fields add_category'>
	<div class="columns">
		<div class="column">
			<%= f.label :name, class: 'label' %>
			<%= f.text_field :name, class: 'input', id: "input_name"%>
		</div>
		<div class="column">
  	<%= f.label :amount, class: 'label' %>
  	<p class="control has-icons-left">
	  	<%= f.text_field :amount, class: 'input' %>
	  	<span class="icon is-small is-left">
	  		<i class="fa fa-dollar"></i>
	  	</span>
	</p>
	</div>

	<%= f.hidden_field :fixed, value: true, id: 'hidden_fixed' %>
	<%= f.hidden_field :order, value: 0, id: 'hidden_order' %>

	

<div class="button is-danger is-small button-remove">
	<%= f.remove_nested_fields_link "X"%>
</div>
	
</div>