<%= form_with(model: budget, local: true) do |form| %>
<div class="form_container">

  <progress class="progress is-primary" value="6" max="100"></progress>
  <div class="field" id="starting_cash">
    <div class="form-title">
        <h1>Your Money</h1>
    </div>
  	
    <h1 class="label">How much money do you have outside of savings? <i class="fa fa-question-circle is-primary"></i></h1> 


    <p class="control has-icons-left">
  	 <%= form.text_field :starting_cash, id:'starting_cash_field',class: 'input', autocomplete: :off %>
     <span class="icon is-small is-left">
      <i class="fa fa-dollar"></i>
     </span>
    </p>
    <br>
    <div class="button is-primary button-next" onClick="next_step('fixed_payments')">Next: Recurring Bills</div>
  </div>
  
  <div class="field" id="fixed_payments">
    <div class="form-title">
  	   <h1>Recurring Bills</h1>
    <p>What do you have to pay for each month?<p>
    </div>
  	<%= form.nested_fields_for :categories do |c| %>
  		<%= render 'category_fields', :f => c %>
  	<% end %>

    <div onClick="category_clear()">
      <div class="button is-secondary">
       <i class="fa fa-plus has-text-primary">&nbsp</i>
    	 <%= form.add_nested_fields_link :categories, 'ADD CATEGORY' %>
      </div>
    </div>
    <br>
    <div class="button is-primary button-next" onClick="next_step('flex_payments')">Next: Additional Spending</div>
    <div class="button has-text-right" onClick="prev_step('starting_cash')">Back</div>
  </div>

  <div class="field" id="flex_payments" style="margin-bottom: 0">
    <div class="form-title">
      <h1>Additional Spending</h1>
    <p>What else do you spend money on?</p>
    </div>
    <%= form.nested_fields_for :categories do |c| %>
      <%= render 'flex_category_fields', :f => c %>
    <% end %>
  </div>
  <div class="field" id="flex_payments_add" onClick="category_clear()">
    <div class="button is-secondary">
      <i class="fa fa-plus has-text-primary">&nbsp</i>
      <%= form.add_nested_fields_link :categories, 'ADD CATEGORY', data: {insert_into: 'flex_payments'} %>
    </div>

    <br>
    <br>
    <div class="button is-primary button-next" onClick="next_step('rank_flex_payments')">Next: Prioritize Spending Categories</div>
    <div class="button" onClick="prev_step('fixed_payments')">Back</div>
  </div>

  <div class="field" id="rank_flex_payments">
    <h1>Prioritize your spending categories</h1>
    <div class="columns is-mobile">
      <ul id="rank_index"></ul>
      <ul  id="rank_flex"></ul>
    </div>

    <br>
    <div class="button is-primary button-next" onClick="next_step('suggested_budget')">Next: Suggested Budget</div>
    <div class="button has-text-right" onClick="prev_step('flex_payments')">Back</div>
  </div>

  <Div class="field" id="suggested_budget">
    <h1>Here is your suggested budget</h1>
    <ul id="suggested_budget_list">
    </ul>
    <br>
    <%= form.submit class: 'button is-primary', onClick:'submit_form()' %>
    <div class="button has-text-right" onClick="prev_step('rank_flex_payments')">Back</div>
  </Div>

</div>
<% end %>