<!-- Modal container -->
<div id="modal-holder" title="New Transaction">
</div>

<!-- content -->
<div class="hero">
	<div class="hero-body dashboard">
		<div class="container">
			<div class="columns">
				<div class="column is-two-thirds has-text-centered">
					<h1 class="title dash-title is-marginless">You have</h1>
					<p class="jumbo">$</p>
					<span class="jumbo has-text-weight-semibold" id="total_cash">
						<%= current_user.budget.current_cash %>
					</span>
					<h1 class="title dash-title">in your budget.</h1>
					<br></br>
					<div class="columns is-mobile">
						<div class="column"></div>
						<div class="column has-text-centered">
							<%= link_to new_budget_transaction_path(current_user, subtract: true), {class: "is-primary", :remote=> true} do %>
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x has-text-primary"></i>
								  <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
								</span>
								<br>
								<span>New Purchase</span>
							<% end %>
						</div>
						<div class="column has-text-centered">
							<%= link_to new_budget_transaction_path(current_user, subtract: false), {class: "is-primary", :remote=> true} do %>
								<span class="fa-stack fa-2x">
								  <i class="fa fa-circle fa-stack-2x has-text-primary"></i>
								  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
								</span>
								<br>
								<span>New Income</span>
							<% end %>
						</div>
						<div class="column"></div>
					</div>
				</div>
				<div class="column">
					<!-- This is where each spending category goes -->
					<h1 class="spending-title">Recurring Bills</h1>
					<ul id="spending-list">
						<% current_user.budget.categories.each do |list| %>
							<% if list.fixed == true %>
								<li>
									<div class="category">
										<%= list.name %>
										<span class="is-pulled-right">
											<%= sprintf("$%.2f", list.amount + @transactions.where(:category_id => list.id).sum(:amount)) %>
											<i class="fa fa-angle-down" style="display: none;"></i>
										</span>
									</div>

									<ul class="transaction_list">
										<% current_user.budget.transactions.each do |cat| %>
											<% if cat.category_id == list.id %>
												<div class="transaction">
													<%= cat.name %>
													<div class="is-pulled-right amount">
													<%= cat.amount%>
													</div>
												</div>
											<% end %>
										<% end %>
									</ul>
								</li>
							<% end %>
						<% end %>
					</ul>

					<br>
					<h1 class="spending-title ">Additional Spending</h1>
					<ul id="spending-list">
						<% current_user.budget.categories.order([:order]).each do |list| %>
							<% if list.fixed == false %>
								<li>
									<div class="category">	
										<%= list.name %>
										<span class="is-pulled-right">
											<%= sprintf("$%.2f", list.amount + @transactions.where(:category_id => list.id).sum(:amount)) %>
											<i class="fa fa-angle-down" style="display: none;"></i>
										</span>
									</div>
									
									<ul class="transaction_list">
										<% current_user.budget.transactions.each do |cat| %>
											<% if cat.category_id == list.id %>
												<div class="transaction">
													<%= cat.name %>
													<span class="is-pulled-right amount">
														<%= cat.amount %>
													</span>
												</div>
											<% end %>
										<% end %>
									</ul>
								</li>
							<% end %>
						<% end %>
					</ul>
					<br>
					<%= link_to edit_budget_path(current_user.id) do %>
						<div class="button is-primary is-fullwidth">
							<span>Edit Budget</span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//countUp.js, makes the total_cash span increment up in a nice way
	var numAnim = new CountUp("total_cash", 0, parseFloat($("#total_cash").text()));
	if (!numAnim.error) {
	    numAnim.start();
	}
	else {
	    console.error(numAnim.error);
	}

	$(".category").on("click", function() {
	$(this).parent().find(".transaction_list").slideToggle();
	});

	$(".transaction").each(function() {
		$(this).parent().parent().find(".fa-angle-down").css("display", "inline-block");
	});

	$(".amount").each(function() {
		if (parseFloat($(this).html()) < 0) {
			$(this).addClass("has-text-danger");
		}
		else {
			$(this).addClass("has-text-primary");
		}
	})

</script>