<!-- Modal container -->
<div id="modal-holder" title="New Transaction" style="display: none">
</div>

<!-- content -->
<div class="hero is-fullheight">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-centered">Your Personal Budget</h1>
			<div class="columns">
				<div class="column is-two-thirds has-text-centered">
					<h1 class="title is-marginless">You have</h1>
					<p class="jumbo">$</p>
					<span class="jumbo" id="total_cash">
						<%= current_user.budget.current_cash %>
					</span>
					<div class="columns has-text-centered">
						<div class="column">
							<%= link_to "I Got Paid", new_budget_transaction_path(current_user), {class: "button", :remote=> true} %>
						</div>
						<div class="column">
							<%= link_to "I Bought Something!!!", new_budget_transaction_path(current_user), {class: "button", :remote=> true} %>
						</div>
					</div>
				</div>
				<div class="column">
					<!-- This is where each spending category goes -->
					<ul>
						<% current_user.budget.categories.each do |list| %>
							<li><%= list.name %><%= list.id %></li>
							<% current_user.budget.transactions.each do |cat| %>
								<% if cat.category_id == list.id %>
									<li><%= cat.name %><%= cat.amount %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//countUp.js, makes the total_cash span increment up in a nice way
	var numAnim = new CountUp("total_cash", 0, $("#total_cash").text());
	if (!numAnim.error) {
	    numAnim.start();
	}
	else {
	    console.error(numAnim.error);
	}
</script>