<!-- Modal container -->
<div id="modal-holder" title="New Transaction">
</div>

<!-- content -->
<div class="hero">
	<div class="hero-body dashboard">
		<div class="container">
			<div class="columns">
				<div class="column is-two-thirds has-text-centered">
					<h1 class="title dash-title is-marginless">You have</h1>
					<p class="jumbo">$</p>
					<span class="jumbo" id="total_cash">
						<%= current_user.budget.current_cash %>
					</span>
					<h1 class="title dash-title">in your budget.</h1>
					<br></br>
					<div class="columns is-2">
						<div class="column">
						<%= link_to "New Purchase", new_budget_transaction_path(current_user, subtract: true), {class: "button dash-button is-primary", :remote=> true} %>
						</div>
						<div class="column">
						<%= link_to "New Income", new_budget_transaction_path(current_user, subtract: false), {class: "button dash-button", :remote=> true} %>
						</div>
					</div>
				</div>
				<div class="column">
					<!-- This is where each spending category goes -->
					<h1 class="spending-title">Recurring Bills</h1>
					<ul>
						<% current_user.budget.categories.each do |list| %>
							<% if list.fixed == true %>
								<li class="category">
									<%= list.name %>
									<span class="is-pulled-right">
										<%= list.amount + @transactions.where(:category_id => list.id).sum(:amount) %>
									</span>
									
								</li>
								<% current_user.budget.transactions.each do |cat| %>
									<% if cat.category_id == list.id %>
										<li class="transaction"><%= cat.name %><%= cat.amount%></li>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					</ul>

					<br>
					<h1 class="spending-title">Additional Spending</h1>
					<ul>
						<% current_user.budget.categories.order([:order]).each do |list| %>
							<% if list.fixed == false %>
								<li class="category">
									<%= list.name %>
									<span class="is-pulled-right">
										<%= list.amount + @transactions.where(:category_id => list.id).sum(:amount) %>
									</span>
									
								</li>
								<% current_user.budget.transactions.each do |cat| %>
									<% if cat.category_id == list.id %>
										<li class="transaction"><%= cat.name %><%= cat.amount%>
										</li>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//countUp.js, makes the total_cash span increment up in a nice way
	var numAnim = new CountUp("total_cash", 0, $("#total_cash").text());
	if (!numAnim.error) {
	    numAnim.start();
	}
	else {
	    console.error(numAnim.error);
	}
</script>