<div class="hero is-medium">
  <div class="hero-body">
    <h1 class="title has-text-centered">Budget(ish)</h1>
    <h3 class="subtitle has-text-centered">Sign In to an Existing Account</h3>
    
    <div class="container" style="max-width: 350px">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: 'label'%>
          <%= f.email_field :email, class: 'input', autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'label'%>
          <%= f.password_field :password, class: 'input', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log In", class: 'button is-primary is-fullwidth', style: 'margin-bottom: 12px'%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>