<h1>New Transaction</h1>

<%= form_with scope: :transaction, url: transactions_path, local: true do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :amount %>
	<%= form.text_field :amount %>

	<%= form.submit %>
<% end %>