<h1>New Transaction</h1>

<%= form_with(model: [ @budget, @budget.transactions.build ], local: true) do |form|%>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :amount %>
	<%= form.text_field :amount %>

	<%= form.submit %>
<% end %>