<!DOCTYPE html>
<html>
  <head>
    <title>Budgetish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <%= javascript_include_tag 'application', 'countUp.js': 'reload' %>
    <%= javascript_include_tag 'application', 'Sortable.js': 'reload' %>

    <script src="https://use.fontawesome.com/f2b29d30d8.js"></script>
  </head>

  <body>
  	<!-- Navbar -->
  	<nav class="navbar is-primary">
  		<!-- budgetish logo -->
  		<div class="navbar-brand">
			     <%= link_to(root_path, class: 'navbar-item') do %>
        <%= image_tag("white_logo.png",  class: 'img-grow') %>
      <% end %>

  			<!-- Mobile murger menu -->
		    <div class="navbar-burger burger" data-target="navMenu">
		      <span></span>
		      <span></span>
		      <span></span>
		    </div>
  		</div>

  		<!-- Menu items -->
  		<div id="navMenu" class="navbar-menu">
  			<div class="navbar-end">
  				<% if user_signed_in? %>
	  				<div class="navbar-item">
	  					<%= link_to('Log Out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
	  				</div>
	  			<% else %>
	  				<div class="navbar-item">
	  					<%= link_to('Log In', new_user_session_path, class: 'nav-link') %>
	  				</div>
	  				<div class="navbar-item">
	  					<%= link_to('Create an Account', new_user_registration_path, class: 'nav-link') %>
	  				</div>
	  			<% end %>
  			</div>
  		</div>
  	</nav>


    <!-- Flash messages -->
    <div class="container">
      <% flash.each do |n, msg| %>
      	<!-- red alerts -->
      	<% if n == "alert" %>
        		<div class="notification is-warning has-text-centered">
        			<button class="delete"></button>
          		<%= content_tag :p, msg %>
      		</div>
      	<!-- green success alerts -->
      	<% elsif n == "notice" %>
        		<div class="notification is-primary has-text-centered">
        			<button class="delete"></button>
          		<%= content_tag :p, msg %>
      		</div>
      	<!-- "etc" color alerts -->
      	<% elsif n == "notice" %>
        		<div class="notification is-info has-text-centered">
        			<button class="delete"></button>
          		<%= content_tag :p, msg %>
      		</div>
        <% end %>
      <% end %>
    </div>

    <!-- Rest of rails page -->
    <%= yield %>
  </body>
</html>
